/* ----------------------------------------------------------------

	404.scss

-----------------------------------------------------------------*/


#error-404 {
    background-image: url(../images/404/error-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

    #error-logo {
        position: relative;
        
        p {
            font-size: 1.3125rem;
            position: absolute;
            bottom: 10rem;
            left: 0;          
        }
    }    
}

#error-sidebar {
    h5 {
        font-size: 1rem;
        letter-spacing: 1px;
    }

    ul {
        li {
            border-bottom: 1px dotted #d1bfbb;
            list-style: none;

            a {                
                color: $white;
                display: inline-block;
                font-weight: 300;
                line-height: 1;
                padding: 0.875rem 0;

                &:hover {
                    color: $theme-color;
                }
            }            
        }
    }
}