
/* ----------------------------------------------------------------

	banner.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Banner
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for banner. Thanks!
-----------------------------------------------------------------*/


.banner {
    position: relative;

    .banner-wrap {
        padding-left: 4.375rem;
        padding-right: 4.375rem;
    }

    &#about-banner {
        padding-top: 7.375rem;
        padding-bottom: 5.375rem;
    }

    &#contact-banner {
        padding-top: 7.375rem;
        padding-bottom: 5.375rem;
    }
}