
/* ----------------------------------------------------------------

	blog.scss

-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Blog
-----------------------------------------------------------------*/

.post {
	position: relative;
	margin-bottom: 1.875rem;
}

.post-thumbnail {
	display: block;
	position: relative;

	img {
		width: 100%;
		height: auto;
	}

	a {
		display: block;
	}

}

.post-content {
	position: relative;

	.entry-title {
		font-size: 1.3125rem;
		color: $white;
	}

	.entry-content {
		color: #c6c6c6;
		line-height: 1.75;
	}
}

.entry-meta {
	font-family: $heading-font;
	position: absolute;
	color: #77b5ef;
	font-size: 1.125rem;
	top: 2rem;
	z-index: 0;

	&:before {
		content: "";
		position: absolute;
		top: -0.25rem;
		z-index: -1;
		display: inline-block;
		-webkit-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		transform: rotate(180deg);
		border-top: 0 solid;
		border-left: 1rem solid transparent;
		border-right: 0rem solid transparent;
		width: 7rem;
		padding: .5rem 2.2rem;
		border-bottom: 2.5rem solid #fff;
	}
}

