
/* ----------------------------------------------------------------

	blog.scss

-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Blog
-----------------------------------------------------------------*/

.post {
	position: relative;
}

.post-thumbnail {
	display: block;
	position: relative;
	width: 100%;
	height: auto;

	a {
		display: block;
	}

}

.post-content {

	position: relative;
	margin-bottom: 1.875rem;

	.entry-title {
        h5 {
            font-family: $heading-font;
			font-size: 1.3125rem;
        }		
	}

	.entry-content {
		font-size: .85rem;
		color: #c6c6c6;
		line-height: 1.5rem;
	}
	
}

.post-date {

	position: absolute;
    top: 2rem;

	.post-brand {
		-webkit-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		transform: rotate(180deg);
		border-top: 0 solid;
		border-left: 1rem solid transparent;
		border-right: 0rem solid transparent;
		width: 7rem;
		padding: .5rem 2.2rem;
		border-bottom: 2.5rem solid #fff;
	}

	.date-title {
		color: #77b5ef;
		font-size: 1.125rem;
		position: absolute;
		top: 0.5rem;
	}
}

