/* ----------------------------------------------------------------

	Contact.scss

-----------------------------------------------------------------*/
#contact-sidebar  {
    @include media-breakpoint-up(xl) {
        position: absolute;
        right: 13rem;
        bottom: 0;
        width: 32%;
        background-color: $white;
    }
}
