
/* ----------------------------------------------------------------

	extras.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Extra Styles
-----------------------------------------------------------------*/


.shipping-banner {
	position: absolute;
	left: 4.375rem;
	top: 5.625rem;	
}

.link-icon {
	background-image: url(../images/icons/link.png);
	background-size: 100%;
	background-repeat: no-repeat;
	display: inline-block;
	width: 2.5625rem;
	height: 2.5625rem;

	&.black {
		background-image: url(../images/icons/link_black.png);
	}
}

a {
	.link-icon {
		@include transition(all 0.3s ease-in-out);
	}

	&:hover {
		.link-icon {
			@include translateX(1rem);
		}
	}	
}

#subscribe-form {
    width: 20%;
}

@include media-breakpoint-down(sm) {
    #subscribe-form {
        width: 50% !important;
    }
}

.about-content{

    img {
        width: 100%;
    }

     @include media-breakpoint-down(md) {
        margin-top: -1rem;
        padding: 0 !important;
     }

     @include media-breakpoint-down(lg) {
         padding-top: 4rem;
     }
    
    .left {
        padding-right: 3.5rem;
    }

    .middle {

        position: relative;
        padding-right : 3.5rem; 

        .sub-txt {

            padding-right: 0.5rem !important;
            h6{
                line-height: 1.5rem;
                margin-bottom: 2rem;
                font-size: 0.85rem;
            }
        }

        .title {
            font-family: $heading-font;
            position: absolute;
            white-space: nowrap;
            right: 5rem;
            top: 2rem;

            h4 {
                letter-spacing: .1rem;
            }
        }
        
    }

    .right {
        
        h4 {
            font-family: $heading-font;
            letter-spacing: 0.17rem;
            line-height: 2.5rem;
            padding-right: 2.5rem;
        }

    }

    @include media-breakpoint-down(lg) {
        
        .middle {
            padding: 0;

            .sub-txt {
                padding: 0 !important;
            }

            .title {
                right: 0;
                top: -4rem;
            }

        }

        .right {
            padding-right: 3rem;
        }

    }

    @include media-breakpoint-down(md) {

        .left {
            padding: 0;
        }

        .middle {
            padding: 0;

            .title {
                position: relative;
                top: 0;
                right: 0;
                white-space: break-spaces;
            }

        }

        .right {
            padding: 0 !important;
            height: auto !important;
        }
    }

}