
/* ----------------------------------------------------------------

	footer.scss

-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Footer
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for footer. Thanks!
-----------------------------------------------------------------*/

#footer {
	position: relative;
	font-size: 0.9rem;
}

#footer-main {
	background-color: $black;
	padding: 3.8rem 0 3rem;
}

#footer-bottom {
	background-color: $dark;
	padding: 2.25rem 0 3.625rem;
}

#copyrights {
	color: $gray-600;
	font-size: 0.875rem;
	font-weight: 300;
	line-height: 2;
	z-index: 1;
}
