
/* ----------------------------------------------------------------

	page.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Page
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for page. Thanks!
-----------------------------------------------------------------*/

#content {
	position: relative;
}


/* ----------------------------------------------------------------
	Page Title
-----------------------------------------------------------------*/

#page-title {
	position: relative;

	.title {
		display: block;
		line-height: 1;
		margin-bottom: 1.875rem;
		letter-spacing: 0.1em;
		color: $white;
	}

	span {
		color: $white;
		font-size: 1.3125rem;
		font-weight: 300;
	}
}


/* ----------------------------------------------------------------
	Sidebar
-----------------------------------------------------------------*/

.sidebar {
	@include media-breakpoint-down(lg) {
		margin-top: 1.875rem;
	}

	.widget {
		margin-bottom: 1.875rem;
	}
}


/* ----------------------------------------------------------------
	About Page
-----------------------------------------------------------------*/

#about-page {
	.rain-text {
		font-weight: 400;
		letter-spacing: 0.1em;

		@include media-breakpoint-up(lg) {
			white-space: nowrap;
			position: relative;
			left: -12rem;
		}
	}
}


/* ----------------------------------------------------------------
	Contact Page
-----------------------------------------------------------------*/

#contact-page {
	#contact-sidebar  {
		@include media-breakpoint-up(xl) {
			position: absolute;
			right: 13rem;
			bottom: 0;
			width: 32%;
			background-color: $white;
		}
	}
}


/* ----------------------------------------------------------------
	404 Page
-----------------------------------------------------------------*/

#error-404-page {
	#error-404 {
		background-image: url(../images/pages/404/error-bg.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		position: relative;

		#error-logo {
			position: relative;

			p {
				font-size: 1.3125rem;
				position: absolute;
				bottom: 10rem;
				left: 0;
			}
		}
	}

	#error-sidebar {
		h5 {
			font-size: 1rem;
			letter-spacing: 0.1em;
		}

		ul {
			li {
				border-bottom: 1px dotted $light;
				list-style: none;

				a {
					color: $white;
					display: inline-block;
					font-weight: 300;
					line-height: 1;
					padding: 0.875rem 0;

					&:hover {
						color: $theme-color;

						&::after {
							content: "";
							margin-left: 0.75rem;
							background-image: escape-svg(url("data:image/svg+xml,<svg width='11' height='20' viewBox='0 0 11 20' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0.899902 1L9.8999 10L0.899902 19' stroke='#FFFFFF' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/></svg>"));
							background-repeat: no-repeat;
							background-size: 100%;
							display: inline-block;
							width: 5px;
							height: 8px;
						}
					}
				}
			}
		}
	}
}


/* ----------------------------------------------------------------
	Team Member Page
-----------------------------------------------------------------*/

.team-member {
	padding: 0.625rem;
	margin-bottom: 1rem;

	@include border-radius(0.5rem);

	.member-avatar {
		@include border-radius(0.5rem);
	}

	.member-name {
		font-size: 1.3125rem;
		margin-bottom: 1rem;
	}

	.member-role {
		color: $theme-color;
		font-size: 0.75rem;
	}

	.member-intro {
		margin-top: 1.5rem;

		.read-more {
			color: $theme-color;
			font-size: 1rem;
			font-weight: 600;

			&::after {
				content: escape-svg($external-link-icon);
				position: relative;
				top: 3px;
				margin-left: 0.625rem;
			}
		}
	}

	.member-actions {
		margin-top: 1.875rem;

		.follow-me {
			span {
				margin-right: 1.125rem;
			}
		}
	}

	.member-details {
		padding: 3rem;
	}
}


/* ----------------------------------------------------------------
	Single Member Page
-----------------------------------------------------------------*/

#single-member-page {
	.team-member {
		padding: 0;

		.member-details {
			padding: 0 3rem 3rem 3rem;
		}
	}

	#member-services {
		.member-service {
			padding-left: 2.25rem;
			position: relative;

			&::before {
				content: "";
				background-image: escape-svg($checker-icon);
				background-repeat: no-repeat;
				background-size: 100%;
				display: block;
				width: 1rem;
				height: 0.8125rem;
				position: absolute;
				left: 0;
				top: 0;
			}

			h3 {
				font-family: $body-font;
				font-size: 1rem;
				margin-bottom: 1.375rem;
			}
		}
	}

	#member-portfolios {
		.member-portfolio {
			margin-bottom: 1.875rem;

			img {
				margin-bottom: 1.5rem;

				@include border-radius(0.5rem);
			}

			h3 {
				font-family: $body-font;
				font-size: 1rem;
				margin-bottom: 0;
			}
		}
	}
}


/* ----------------------------------------------------------------
	Blog Page
-----------------------------------------------------------------*/

#blog-page {
	#posts {
		.post {
			padding: 0.625rem 0;

			.post-thumbnail {
				@include border-radius(0.5rem);
			}

			.post-content {
				display: block;
				padding: 0.9375rem 0;

				.entry-title {
					h4 {
						font-family: $body-font;
						font-size: 1.1875rem;
						line-height: 1.875rem;

						a {
							color: $headings-color;

							&:hover {
								color: $theme-color;
							}
						}
					}
				}

				.entry-meta {
					font-family: $body-font;
					font-size: 0.875rem;
					width: 100%;
					margin-right: 0;
					padding-top: 0;
					position: initial;

					a {
						color: $headings-color;
					}
				}

				.entry-link {
					color: $theme-color;
					font-size: 0.875rem;
				}

				.entry-categories {
					font-size: 0.875rem;
				}
			}
		}
	}
}


/* ----------------------------------------------------------------
	Shope Page
-----------------------------------------------------------------*/

#shop-page {
	.sidebar {
		.widget {
			&.featured-products {
				.product {
					.product-image {
						@include border-radius(0.5rem);
					}
				}
			}
		}
	}
}


/* ----------------------------------------------------------------
	Single Product Page
-----------------------------------------------------------------*/

#single-product-page {
	.product-thumbnail {
		position: relative;

		.product-gallery {
			position: absolute;
			left: 0;
			top: 1.25rem;
			z-index: 1;

			li {
				border-left: 5px solid transparent;
				margin-bottom: 0.625rem;
				padding-left: 0.75rem;

				> a {
					background-color: $white;
					display: block;
					width: 5.625rem;
					height: 5.625rem;
					overflow: hidden;
				}

				&:hover,
				&.active {
					border-color: $theme-color;
				}
			}
		}
	}

	.product.single-product {
		.onsale {
			top: 0;
			right: 1.875rem;
			bottom: initial;
		}

		.product-details {
			padding: 0;

			@include media-breakpoint-down(lg) {
				padding-top: 2.25rem;
			}
		}

		.product-title {
			color: $body-color;
			font-size: 2.5rem;
			font-weight: 700;
		}

		.product-rating {
			margin-top: 0;
			display: inline-block;

			i {
				color: $yellow;
			}
		}

		.product-price {
			color: $headings-color;
			margin-top: 1.5rem;
			margin-bottom: 1.5rem;
		}

		.product-meta {
			span {
				display: block;

				a {
					color: $headings-color;
					font-weight: 600;
				}
			}
		}

		form.cart {
			display: flex;
			margin-top: 2rem;
			margin-bottom: 2rem;

			input[type=submit] {
				height: 3rem;
				line-height: 3rem;
				padding: 0 $btn-padding-x;
			}
		}
	}

	.product-more-info {
		background-image: url(../images/banner/seller-bg.png);
		color: $white;

		.nav-pills {
			.nav-link {
				color: $white;
			}
		}

		.tab-content {
			margin-top: 1.5rem;
		}
	}
}


/* ----------------------------------------------------------------
	Cart Page
-----------------------------------------------------------------*/

#cart-page {
	.cart-form {
		.shop-table {
			tfoot {
				td {
					padding: 1.25rem 0;
					border-bottom: none;
				}
			}

			.cart-item {
				.product-thumbnail {
					width: 8.25rem;

					img {
						width: 6.25rem;
						height: auto;
						min-width: 6.25rem;
					}
				}

				.product-name {
					a {
						color: $headings-color;
						font-size: 1rem;
						font-weight: 600;

						&.product-wishlist,
						&.product-delete {
							color: $theme-color;
							font-size: 0.8125rem;
							margin-right: 1.25rem;
						}
					}
				}

				.product-subtotal {
					color: $headings-color;
					font-size: 1.25rem;
					font-weight: 600;
				}
			}

			.actions {
				.form-control,
				.btn {
					@include media-breakpoint-down(md) {
						width: 100%;
						margin-bottom: 1rem;
					}
				}
			}
		}
	}

	.cart-totals {
		@include media-breakpoint-up(lg) {
			padding: 0 2.375rem;
		}

		.shop-table {
			font-size: 0.75rem;

			td, th {
				border-bottom-width: 1px;
				border-color: $light;
				color: $headings-color;
				padding: 1rem 0;
				vertical-align: middle;
			}

			th {
				font-weight: 600;
				text-transform: uppercase;
			}

			td {
				text-align: right;
			}

			.order-total {
				td {
					font-size: 1.25rem;
					font-weight: 600;
				}
			}

			.shipping {
				td {
					text-align: left;

					p {
						font-weight: 600;
					}
				}
			}
		}

		.btn {
			@include media-breakpoint-down(md) {
				width: 100%;
			}
		}
	}
}


/* ----------------------------------------------------------------
	Checkout Page
-----------------------------------------------------------------*/

#checkout-page {
	.checkout {
		padding: 2.5rem 0;
	}

	.order-details {
		color: $headings-color;
		font-size: 0.75rem;
		padding: 2.5rem 0;

		.shop-table {
			td, th {
				border-color: $light;
				border-bottom-width: 1px;
				color: $headings-color;
				padding: 1rem 0;
				vertical-align: middle;
			}

			.product-total {
				text-align: right;
			}

			thead {
				th {
					font-weight: 600;
					text-transform: uppercase;
				}
			}

			tfoot {
				.cart-subtotal,
				.order-total {
					th {
						font-weight: 600;
						text-transform: uppercase;
					}

					td {
						text-align: right;
					}
				}

				.order-total {
					td {
						font-size: 1.25rem;
						font-weight: 600;
					}
				}
			}

			.shipping {
				td {
					text-align: left;

					p {
						font-weight: 600;
					}
				}

				.shipping-destination {
					input {
						background-color: $light;
					}
				}
			}
		}

		.checkout-payment {
			p {
				font-weight: 600;
			}
		}
	}
}


/* ----------------------------------------------------------------
	Wishlist Page
-----------------------------------------------------------------*/

#wishlist-page {
	.shop-table {
		.wishlist-item {
			.product-thumbnail {
				width: 8.25rem;

				img {
					width: 6.25rem;
					height: auto;
					min-width: 6.25rem;
				}
			}

			.product-name {
				a {
					color: $headings-color;
					font-size: 1rem;
					font-weight: 600;

					&.product-delete {
						color: $theme-color;
						font-size: 0.8125rem;
						margin-right: 1.25rem;
					}
				}
			}

			.product-actions {
				.btn {
					@include media-breakpoint-down(lg) {
						width: 100%;
					}
				}
			}
		}
	}
}