/* ----------------------------------------------------------------

	shop.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Shop
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for shop pages. Thanks!
-----------------------------------------------------------------*/


/* Category
-----------------------------------------------------------------*/
.category {
	position: relative;		
	@include transition(all 0.5s ease-in-out);

	.category-desc {
		position: absolute;
		left: 0;
		bottom: 0;		
		width: 100%;
		z-index: 1;
	}
}


/* Product
-----------------------------------------------------------------*/

.products-title {
    color: #343434;
    font-size: 1.5rem;
    font-family: myFont;
}

.product {
	position: relative;

	.product-image {
		position: relative;

		> a:nth-of-type(2) {
			opacity: 0;
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			@include transition(all 0.3s ease-in-out);
		}

		img {
			width: 100%;
		}
	}

	.product-details {
		padding: 1.875rem;
		z-index: 1;
	}

	.product-price {
		position: relative;
		color: #302f2d;
		display: flex;
		align-items: center;
		font-family: $body-font;
		font-size: 1.875rem;
		font-weight: 300;
		line-height: 1;

		del {
			color: #979797;
			font-size: 1rem;
			font-weight: 400;
			margin-left: 1.375rem;
		}
	}

	.product-categories {
		a {
			color: #ff5a7d;
			font-size: 1rem;
			font-weight: 600;
			text-decoration: none;
		}
	}

	.product-title {
		font-family: $body-font;
		font-size: 1.1875rem;
		font-weight: 300;
		line-height: 1.875rem;
		margin-bottom: 0.5rem;

		a {
			color: $heading-color;
			text-decoration: none;
		}

	}

	.product-rating {
		line-height: 1;
		color: #979797;

		i {
			color: rgb(228, 174, 37);
			font-size: 0.625rem;

			&.empty {
				color: rgba(rgb(228, 174, 37), 0.5);
			}
		}
	}

	.product-btns {
		position: absolute;
		right: 0;
		top: 0;
		grid-gap: 0.5rem;
		padding: .875rem .375rem;
		opacity: 0;
		z-index: 2;
		@include transition(all 0.3s ease-in-out);
	}

	.price-brand {
		-webkit-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		transform: rotate(180deg);
		border-top: 0 solid;
		border-left: 1rem solid transparent;
		border-right: 0 solid transparent;
		padding: .5rem 2.2rem;
		border-bottom: 2.5rem solid #dd4545;
		position: absolute;
		top: 0.3rem;
		z-index: -1;
	}
	
	.add-to-cart,
	.add-to-wishlist {

		background-color: white;
		display: inline-block;
		color: #d5e0e8;
		padding: 0.5rem;
		@include transition(all 0.3s ease-in-out);		

		&:hover {
			color: $theme-color;
		}

		i {
			font-size: 1.25rem;
			line-height: 1;
		}
	}


	.onbest,
	.ontop,
	.onnew,
	.onhot,
	.onsale {
		font-family: "Roboto Slab",serif;
		font-size: .8rem;
		line-height: 1;
		font-weight: 500;
		letter-spacing: .5px;
		text-transform: uppercase;
		padding: .65rem .9rem;
		position: absolute;
		left: 1rem;
		top: 1rem;
		z-index: 2;
		border-radius: 1.875rem;
	}

	.onhot {
		background-color: #ff3263;
		color: $white;
	}

	.onnew {
		background-color: #19d678;
		color: $white;
	}

    .onbest {
		background-color: #8b5ec7;
		color: $white;
	}

	.ontop {
		background-color: #5adbde;
		color: $white;
	}

	.onsale {
		background-color: #ffc83a;
		color: $white;
	}

	&:hover {
		.product-btns {
			opacity: 1;
		}

		.product-image {
			> a:nth-of-type(2) {
				z-index: 1;
				opacity: 1;
			}
		}
	}
}



/* Ads
-----------------------------------------------------------------*/
.ads {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 36rem;
	width: 100%;
	position: relative;

	h4 {
		letter-spacing: 0.15rem;
		font-size: 2.815rem;
	}

	h2 {
		font-size: 12.1875rem;
        letter-spacing: 0.7rem;
	}

	span {
		line-height: 2rem;
	}

	.ads-content {
		position: absolute;
		top: 11rem;

		&.ads-content-left {
			left: 4.375rem;
		}
	
		&.ads-content-right {
			right: 4.375rem;
		}
	}
}