/* ----------------------------------------------------------------

	shop.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Shop
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for shop pages. Thanks!
-----------------------------------------------------------------*/


/* Category
-----------------------------------------------------------------*/

.category {
	position: relative;
	@include transition(all 0.5s ease-in-out);

	.category-desc {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		z-index: 1;
	}
}


/* Product
-----------------------------------------------------------------*/

.product {
	position: relative;

	.product-image {
		position: relative;

		> a:nth-of-type(2) {
			opacity: 0;
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			@include transition(all 0.3s ease-in-out);
		}

		img {
			width: 100%;
		}
	}

	.product-details {
		padding: 1.875rem;
		z-index: 1;
	}

	.product-price {
		position: relative;
		color: $headings-color;
		display: flex;
		align-items: center;
		font-family: $headings-font-family;
		font-size: 1.875rem;
		font-weight: 300;
		line-height: 1;

		del {
			color: $light;
			font-size: 1rem;
			font-weight: 400;
			margin-left: 1.375rem;
		}
	}

	.product-categories {
		a {
			color: $red;
			font-size: 1rem;
			font-weight: 600;
		}
	}

	.product-title {
		font-family: $body-font;
		font-size: 1.1875rem;
		font-weight: 300;
		line-height: 1.875rem;
		margin-bottom: 0.5rem;

		a {
			color: $body-color;
		}

	}

	.product-rating {
		line-height: 1;
		color: $light;

		i {
			color: $yellow;
			font-size: 0.625rem;

			&.empty {
				color: rgba($yellow, 0.5);
			}
		}
	}

	.product-btns {
		position: absolute;
		right: 1.875rem;
		top: 1.875rem;
		z-index: 2;

		@include transition(all 0.3s ease-in-out);
	}

	.price-brand {
		-webkit-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		transform: rotate(180deg);
		border-top: 0 solid;
		border-left: 1rem solid transparent;
		border-right: 0 solid transparent;
		padding: .5rem 2.2rem;
		border-bottom: 2.5rem solid $red;
		position: absolute;
		top: 0.3rem;
		z-index: -1;
	}

	.add-to-cart,
	.add-to-wishlist {
		display: block;
		text-align: right;

		&:hover {
			color: $theme-color;
		}

		i {
			font-size: 1.25rem;
			line-height: 1;
		}
	}

	.add-to-cart {
		color: $dark;
		margin-bottom: 0.9375rem;
	}

	.add-to-wishlist {
		color: #d5e0e8;
	}

	.product-thumbs {
		margin-top: 2.5rem;
		display: flex;

		a {
			display: block;
			width: 4.375rem;
			height: 4.375rem;
		}
	}

	&:hover {
		.product-image {
			> a:nth-of-type(2) {
				z-index: 1;
				opacity: 1;
			}
		}
	}
}


/* Ads
-----------------------------------------------------------------*/
.ads {
	position: relative;
	display: block;

	.ads-bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;

		.ads-bg-img {
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	.ads-body {
		position: relative;
		z-index: 1;
		padding: 7rem 0;
	}

	h4 {
		letter-spacing: 0.075em;
		font-size: 2.815rem;
	}

	h2 {
		font-size: rfs-fluid-value(12.1875rem);
        letter-spacing: 0.075em;

		@include media-breakpoint-up(lp) {
			font-size: 12.1875rem;
		}
	}

	span {
		line-height: 2rem;
	}
}


/* ----------------------------------------------------------------
	Product Filters
-----------------------------------------------------------------*/

.product-filters {
	.filter-title {
		color: $headings-color;
		font-size: .875rem;
		font-family: $body-font;
		font-weight: 600;
		line-height: 1;
		margin-bottom: 0.75rem;
	}

	ul li ul {
		padding-left: 2.25rem;
	}

	.product-filter-color {
		ul li {
			display: inline-block;
			margin-right: 5px;

			.filter-color {
				width: 1.875rem;
				height: 1.875rem;
				margin: 0;
				border: none;

				&:checked::after {
					top: 8px;
					left: 12px;
					width: 6px;
					height: 10px;
				}

				&#color_ffffff {
					border: 1px solid #dcdcdc;

					&:checked::after {
						border-color: #373737;
					}
				}
			}
		}
	}

	.product-filter-size {
		ul li {
			display: inline-block;
			position: relative;
			margin-right: 5px;

			.filter-size {
				width: 3.125rem;
				height: 2.5rem;
				margin: 0;
				border: none;

				& + label {
					position: absolute;
					left: 50%;
					top: 50%;
					z-index: 1;

					@include translate3d(-50%, -50%, 0);
				}

				&:checked {
					background-color: $theme-color;
					color: $white;

					& + label {
						color: $white;
					}

					&::after {
						display: none;
					}
				}
			}
		}
	}
}


/* ----------------------------------------------------------------
	Reviews
-----------------------------------------------------------------*/

#reviews {
	#comments {
		.reviews-title {
			font-size: 1.125rem;

			span {
				color: $body-color;
				font-family: $body-font;
				font-size: 0.875rem;
				font-weight: 400;
				margin-left: 0.625rem;
			}
		}

		ul.comment-list {
			.review {
				margin-bottom: 1.125rem;

				.comment-container {
					display: flex;

					.comment-text {
						margin-left: 1.125rem;
						padding-top: 0.3125rem;

						.meta {
							line-height: 1;
							margin-bottom: 0;

							.review-date {
								margin-left: 0.5rem;
							}
						}

						.description {
							p {
								margin-bottom: 0;
							}
						}
					}
				}

				.rating {
					.star-rating {
						i {
							color: $yellow;
							font-size: 0.75rem;
						}
					}

					.rating-text {
						color: $headings-color;
						font-size: 0.75rem;
					}
				}
			}
		}
	}

	#review_form {
		margin-top: 2.25rem;
		padding: 1.875rem 0;

		@include border-radius(0.5rem);

		.comment-respond {
			.comment-form {
				margin-bottom: 0;
			}
		}

		.stars {
			i {
				color: $yellow;
			}
		}
	}
}


/* ----------------------------------------------------------------
	Shop Table
-----------------------------------------------------------------*/

.shop-table {
	td, th {
		padding: 1rem;
	}

	thead {
		tr {
			th {
				border: none;
				font-weight: 600;
				font-size: 0.75rem;
				line-height: 1;
				text-transform: uppercase;
			}
		}
	}

	tbody {
		tr {
			td {
				border-bottom-width: 5px;
				border-color: transparent;
				vertical-align: middle;
			}
		}
	}

	& > :not(:last-child) > :last-child > * {
		border-bottom-color: transparent;
	}

	& > :not(caption) > * > * {
		border-bottom-width: 0;
	}
}