
/*-----------------------------------------------------------------------------------

	Shortcodes: headings.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Heading Styles
-----------------------------------------------------------------*/


/* Heading Block - with Subtitle
-----------------------------------------------------------------*/

.heading-block {
	margin-bottom: 1.875rem;
	position: relative;

	&.dark {
		.title {
			span {
				color: $headings-color;
			}
		}
	}

	.title {
		display: block;
		font-weight: 900;
		line-height: 1;
		margin-bottom: 0;
		font-size: rfs-fluid-value(9.375rem);
		letter-spacing: 0.2em;
		color: rgba($light, 0.08);
		position: relative;

		@include media-breakpoint-up(lg) {
			font-size: 9.375rem;
		}

		span {
			display: block;
			font-family: $headings-font-family;
			font-size: rfs-fluid-value(2.8125rem);
			line-height: rfs-fluid-value(9.375rem);
			color: $white;
			letter-spacing: 0.075em;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;

			@include media-breakpoint-up(lg) {
				font-size: 2.8125rem;
				line-height: 9.375rem;
			}
		}
	}
}