
/*-----------------------------------------------------------------------------------

	Shortcodes: headings.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Heading Styles
-----------------------------------------------------------------*/


/* Heading Block - with Subtitle
-----------------------------------------------------------------*/

.heading-block { 
	margin-bottom: 1.875rem; 
	position: relative;

	&.feture-title {
		.title {
			color: #f7f7f7			
		}

		.sub-title {
			color: #2a2a2a;
		}
	}

	.title {		
		display: block;
		font-weight: 900;
		line-height: 1;
		margin-bottom: 0;
		font-size: 3.75rem;		
		letter-spacing: 1.5rem;
		color: #2a2a2a;

		@include media-breakpoint-up(lg) {
			font-size: 9.375rem;
		}

		@include media-breakpoint-down(sm) {
			font-size: 5.625rem;
		}
	}

	.sub-title {		
		display: block;
		font-family: $heading-font;
		font-size: 1.6875rem;
		line-height: 1;
		color: $white;
		letter-spacing: 0.2rem;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		@include media-breakpoint-up(lg) {
			font-size: 2.8125rem;
		}
	}	
}